body{
    font-family: "proxima-nova",sans-serif;
}
button{
    border: none;
    background-color: white;
}

#search{
    position:absolute;
    right: 100px;
    top: 0px;
}

#in_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#337ab7;
}

h8{
    color: #555555;
    padding-top: 0;
}

h1{
    color:red;
}

#earth_and_climate{
    font-size: 1.7em;
    line-height: 1.22em;
    text-align: center;
    padding-top: 30px;
    color:#337ab7;
}

#demo{
    color:darkblue;
}

#tree_cap_beaker_star{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
    
}

#inner_tree_cap_beaker_star{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;

}



#trees{
    width:75px;
    height:100px;
}



h5{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    color: #555555;
}

#h5{
    color:#337ab7;
}

#back_to_field{
    background-color:#e3e3e3;
}


#climate_news{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}
