
    {% extends 'base.html' %}
    {% block content %}

        <div>
        <img src='https://lamont.columbia.edu/sites/default/files/styles/cu_crop/public/content/21%20LDEO_Website_Banners_rev13.jpg?itok=WY5iHDH8'
            style='max-width: 100%'>
        </div>

        <div style="background-color:#f0f0f0">
            <p style="font-size: 1.7em; padding-left: 75px; padding-right: 75px; padding-top:20px; 
            padding-bottom:20px; color: #555555;line-height: 1.22em;">Lamont-Doherty Earth Observatory seeks 
                fundamental knowledge about the origin, evolution, and future of the natural world.</p>
        </div>

        <div >
            <p style="font-size: 1.7em; padding-left: 75px; padding-right: 75px; color: #555555; text-align: center">Lamont
                By The Numbers</p>

            <br/>    
            
            <div id="tree_cap_beaker_star">
                <div id="inner_tree_cap_beaker_star">
                    <div>
                        <img src='/static/images/tree.png' id="trees">
                    </div>
                    <div id="text_tree_star_etc">
                        <h8>Acres of Campus with Sanctuary Forests on NY's Hudson River  </h8>
                    </div>
                </div>

                <div id="inner_tree_cap_beaker_star">
                    <div><img src='/static/images/cap.png' id="trees"></div>
                    
                    <div id="text_tree_star_etc" style='padding-bottom:25px;'><h8>PhD-Level Researchers  </h8></div>
                   
                </div>
                

                
                <div id="inner_tree_cap_beaker_star">
                    <div><img src='/static/images/beaker.png' id="trees"></div>
                    <div id="text_tree_star_etc" style='padding-bottom:25px;'><h8>PhD Students Involved in Research </h8></div>
                </div>

                <div id="inner_tree_cap_beaker_star">
                    <div><img src='/static/images/star.png' id="trees" ></div>
                    <div id="text_tree_star_etc"><h8>National Academy of Sciences Members</h8></div>
                </div>
            </div>
            
        </div>

        <div id="back_to_field">

            <div >
                <a href='https://annual-report-22.lamont.columbia.edu/home'>
                <img src='/static/images/back_to_the_field.jpeg' style="padding-right: 50px; padding-left: 50px;
                max-width:100%"></a>
            </div>

            <div>
                <h5 style='padding-bottom:30px; color:#555555;font-family: "proxima-nova",sans-serif'> Lamont-Doherty Earth Observatory is a community of bold, intellectually curious explorers committed to tackling the existential crisis of climate change. In our 
                    2022 Annual Report, we highlight our accomplishments from July 1, 2021 to June 30, 2022. </h5>
            </div>

        </div>

        <div>
            <p id="earth_and_climate">Earth &amp Climate Science News (<span style='color:red'>BRANDON DID THIS!!!</span>)</p>
        </div>

        <div id='climate_news' style='padding-left:30px'>
           <div>
                <p style='color:#337ab7; font-weight:bold'>EDUCATION</p>
                <hr>
                <img src ='/static/images/image1.png' style='width:400px;height:300px;padding-left:0px;padding-right:20px'>
                <p style='width:400px;height:300px;padding-left:0px;padding-right:20px;padding-top:10px;color:#337ab7'>Spring 2023 Student Research Opportunities</p>
                <h5 style='position: relative; bottom:250px; right: 50px;color: #555555'><b>January 11, 2023</b></h5>
                <p style='position: relative; bottom:250px; right: 0px; padding-right:20px;color: #555555'>The Climate School is offering three new research assistant opportunities during the Spring 2023 semester.</p>
            </div>
           <div style='padding-left: 30px'>
                <p style='padding-left:5px;color:#337ab7; font-weight:bold'>CLIMATE</p>
                <hr>
                <img src='/static/images/image2.png' style='width:400px;height:300px;padding-left:0px;padding-right:20px'>
                <p style='width:400px;height:300px;padding-left:5px;padding-right:20px;padding-top:10px;color:#337ab7'>New York City's Greenery Absorbs a Surprising Amount of Its Carbon Emissions</p>
                <h5 style='position: relative; bottom:250px; right: 50px;color: #555555'><b>January 05, 2023</b></h5>
                <p style='position: relative; bottom:250px; right: 0px; padding-right:20px;color: #555555'>A hyper-local study of vegetation shows that the city’s trees and grass often cancel out all the CO2 released from cars, trucks and buses on summer days.</p>
            </div>
           <div>
                <p style='color:#337ab7; font-weight:bold'>GENERAL EARTH INSTITUTE</p>
                <hr>
                <img src='/static/images/image3.jpeg' style='width:400px;height:300px;padding-left:0px;padding-right:20px'>
                <p style='width:400px;height:300px;padding-left:0px;padding-right:20px;padding-top:10px;color:#337ab7'>Year in Review: Our Top Stories of 2022</p>
                <h5 style='position: relative; bottom:250px; right: 50px;color: #555555'><b>December 22, 2022</b></h5>
                <p style='position: relative; bottom:250px; right: 0px; padding-right:20px;color: #555555'>A list of some of our most popular articles and videos, plus some of our favorites that you shouldn’t miss.</p>
            </div>



        </div>

        <p> {{ name }} </p>
    {% endblock %}





