<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

   <div class='nav_container'>

        <div>           <!-- begins container for button "Home"-->
            <button>Home</button>
        </div>          <!-- ends container for button "Home"-->

        <div class='button_container'>           <!-- begins container for button "Research"-->
            <button>Research</button>

                <div class='column_container'>       <!-- begins container for 1st column of items in "Research" dropdown list-->
                    <ul>
                        <li>
                            <a  href="#">Biology and Paleo Environment </a>

                                    <ul >
                                        <li>Tree Ring Lab </li>
                                    </ul>
                        </li>
                        <li>
                            <a href="#">Core Repository</a>
                        </li>
                    </ul>
                </div>      <!-- ends container for 1st column of items in "Research" dropdown list-->

                <div class='column_container'>       <!-- begins container for 2nd column of items in "Research" dropdown list-->
                    <ul>
                        <li><a href="#">Geochemistry</a></li>
                        <li><a href="#">Hudson River Field Station</a></li>
                        <li><a href="#">Marine Geology and Geophysics</a></li>
                    </ul>
                </div>      <!-- ends container for 2nd column of items in "Research" dropdown list-->

                <div class='column_container'>       <!-- begins container for 3rd columnof items in "Research" dropdown list-->
                    <ul>
                        <li><a href="#">Marine/Large Programs</a></li>
                        <li><a href="#">Ocean and Climate Physics</a></li>
                    </ul>
                </div>      <!-- ends container for 3rd column of items in "Research" dropdown list-->

                <div class='column_container'>       <!-- begins container for 4th column of items in "Research" dropdown list-->
                    <ul>
                        <li><a href="#">Seismology, Geology and Tectonophysics</a></li>
                        <li><a href="#">Lamont Research Projects</a></li>
                    </ul>
                </div>      <!-- ends container for 4th column of items in "Research" dropdown list-->

        </div>          <!-- ends container for button "Research"-->

        <div class='button_container'>           <!-- begins container for button "Education"-->
            <button> Education</button>

                <div class='column_container'>       <!-- begins container for 1st column of items in "Education" dropdown list-->
                    <ul>
                        <li><a href="#">Visitor Opportunities</a></li>
                    </ul>
                </div>      <!-- ends container for 1st column of items in "Education" dropdown list-->

                <div class='column_container'>       <!-- begins container for 2nd column of items in "Education" dropdown list-->
                    <ul>
                    <li><a href="#">Student and Educator Programs</a></li>
                    </ul>
                </div>      <!-- ends container for 2nd column of items in "Education" dropdown list-->

                <div class='column_container'>       <!-- begins container for 3rd columnof items in "Education" dropdown list-->
                    <ul>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Undergraduate Programs</a></li>
                        <li><a href="#">Graduate Programs</a></li>
                    </ul>
                </div>      <!-- ends container for 3rd column of items in "Education" dropdown list-->

        </div>          <!-- ends container for button "Education"-->

        <div class='button_container'>           <!-- begins container for button "News"-->
            <button>News</button>

                <div class='column_container'>       <!-- begins container for 1st column of items in "News" dropdown list-->
                    <ul>
                        <li><a href="#">Earth Science News</a></li>
                    </ul>
                </div>      <!-- ends container for 1st column of items in "News" dropdown list-->

                <div class='column_container'>       <!-- begins container for 2nd column of items in "News" dropdown list-->
                    <ul>
                        <li><a href="#">Lamont in the News</a></li>
                    </ul>
                </div>      <!-- ends container for 2nd column of items in "News" dropdown list-->

        </div>          <!-- ends container for button "News"-->

        <div class='button_container'>           <!-- begins container for button "Events"-->
            <button>Events</button>

                <div class='column_container'>       <!-- begins container for 1st column of items in "Events" dropdown list-->
                    <ul>
                        <li><a href="#">All Events</a></li>
                        <li><a href="#">Earth Science Colloquium Series</a></li>
                    </ul>
                </div>      <!-- ends container for 1st column of items in "Events" dropdown list-->

                <div class='column_container'>       <!-- begins container for 2nd column of items in "Events" dropdown list-->
                    <ul>
                        <li><a href="#">Biology and Paleo Environment Seminars</a></li>
                        <li><a href="#">Geochemistry Seminars</a></li>
                    </ul>
                </div>      <!-- ends container for 2nd column of items in "Events" dropdown list-->

                <div class='column_container'>       <!-- begins container for 3rd columnof items in "Events" dropdown list-->
                    <ul>
                        <li><a href="#">Geodynamics Seminars</a></li>
                        <li><a href="#">Marine Geology and Geophysics/Seismology, Geology and Tectonophysics Seminars</a></li>
                    </ul>
                </div>      <!-- ends container for 3rd column of items in "Events" dropdown list-->

                <div class='column_container'>       <!-- begins container for 4th column of items in "Events" dropdown list-->
                    <ul>
                        <li><a href="#">Ocean and Climate Physics Seminar</a></li>
                        <li><a href="#">Summer Stars Lecture Series</a></li>
                    </ul>
                </div>      <!-- ends container for 4th column of items in "Events" dropdown list-->

        </div>          <!-- ends container for button "Events"-->

        <div class='button_container'>           <!-- begins container for button "People"-->
            <button>People</button>
        </div>          <!-- ends container for button "People"-->

        <div class='button_container'>           <!-- begins container for button "About"-->
            <button>About</button>

                <div class='column_container'>       <!-- begins container for 1st column of items in "About" dropdown list-->
                    <ul>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Director's Office</a></li>
                        <li><a href="#">Academic Affairs and Diversity</a></li>
                        <li><a href="#">Anti-Racism Commitment</a></li>
                        <li><a href="#">Graduate Programs</a></li>
                        <li><a href="#">Alumni</a></li>
                    </ul>
                </div>      <!-- ends container for 1st column of items in "About" dropdown list-->

                <div class='column_container'>       <!-- begins container for 2nd column of items in "About" dropdown list-->
                    <ul>
                        <li><a href="#">Awards</a></li>
                        <li><a href="#">Luminaries and Signature Events</a></li>
                    </ul>
                </div>      <!-- ends container for 2nd column of items in "About" dropdown list-->

                <div class='column_container'>       <!-- begins container for 3rd columnof items in "About" dropdown list-->
                    <ul>
                        <li><a href="#">Annual Reports</a></li>
                        <li><a href="#">Lamont Features Map</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>      <!-- ends container for 3rd column of items in "About" dropdown list-->

                <div class='column_container'>       <!-- begins container for 4th column of items in "About" dropdown list-->
                    <ul>
                        <li><a href="#">Visitor Info</a></li>
                        <li><a href="#">Logos</a></li>
                    </ul>
                </div>      <!-- ends container for 4th column of items in "About" dropdown list-->

        </div>          <!-- ends container for button "About"-->

        <div class='button_container'>           <!-- begins container for button "Giving"-->
            <button>Giving</button>
        </div>          <!-- ends container for button "Giving"-->

        <div class='button_container'>           <!-- begins container for button "Shop"-->
            <button>Shop</button>
        </div>          <!-- ends container for button "Shop"-->

        <div class='button_container'>           <!-- begins container for button "Contact Us"-->
            <button>Contact Us</button>
        </div>          <!-- ends container for button "Contact Us"-->

    

   </div> <!--  closes 'nav_container'  -->



   <!---        space                       -->
   <!---        space                       -->
   <!---        space                       -->
   <!---        space                       -->
   <!---        space                       -->
   <!---        space                       -->
   <!---        space                       -->
   <!---        space                       -->
    
        



    
          
</body>
</html>